@if(comprobanteAnchoPantalla === true){
    <app-header-sm [temaSeleccionado]="temaSeleccionado"></app-header-sm>
}@else {
    <app-header [temaSeleccionado]="temaSeleccionado"></app-header>
}


<div class="listaCarrerasMainDiv"
[class.bgClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2"
[class.bgOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
>
    <!-- Barra de busqueda -->
    <app-barra-busqueda></app-barra-busqueda>


    <h1>Lista de Carreras</h1>

    <div class="listado"
    [class.fondoListaCarrerasClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2"
    [class.fondoListaCarrerasOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
    >

        @for(carrera of listaCarreras; track 0){
            <div 
            [class.carreraClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2 || temaSeleccionado == 3 "
            [class.carreraOscuro]="temaSeleccionado == 4"
            (click)="verDetallesCarrera(carrera.id)">
                <img [src]="carrera.imgSiluetaCircuito" alt="Imagen silueta del circuito">
                <h5>GP de {{ carrera.nombrePais }}</h5>
                <p>{{ carrera.fechaCadena }}</p>
                <h5>{{ carrera.horaInicio }}</h5>
    
                <div class="estado">
                    <div [ngClass]="carrera.clase"></div>
                    <p>{{ carrera.estado }}</p>
                </div>
            </div>
        }
    </div>
</div>

@if(showGoUpButton){
    <button class="no-hidden" (click)="scrollTop()" 
    [class.vaClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2 "
    [class.vaOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
    >
        <img [src]="rutaIconoVolverArriba" alt="Icono volver arriba Negro">
    </button>
}