@if(comprobanteAnchoPantalla === true){
  <app-header-sm [temaSeleccionado]="temaSeleccionado"></app-header-sm>
}@else {
  <app-header [temaSeleccionado]="temaSeleccionado"></app-header>
}

<div 
[class.bgClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2"
[class.bgOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
class="perfilPropioMainDiv">
    <div class="informacionCuenta">
      <div class="seguidores">
        <h2>{{ nombreUsuario }}</h2>
        <div>
          <p>Seguidores <br> {{ nSeguidores }}</p>

          <p>Seguidos <br> {{ nSeguidos }}</p>
        </div>
        <button (click)="goToConfCuenta()">Configurar</button>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="Seguidores">
        <div
        [class.bgClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2"
        [class.bgOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
        class="tabContent" #tabContent (scroll)="onScrollSeguidores($event)">
            <div>
              @if(seguidoresCargados.length == 0){
                <h2 class="tabVacio">Este usuario no tiene seguidores</h2>
              }@else {
                @for(item of seguidoresCargados; track item){
                  <div class="seguidos">
                    <div class="seguido">
                      <img [src]="item.imgPerfil" alt="Imagen pefil usuario">
                      <h4>{{ item.nombreUsuario }}</h4>
                      
                      <div class="numComentarios">
                        <p>Comentarios <br>
                          {{ item.numComentarios }}
                        </p>
                      </div>
      
                      <div class="acciones-Seguidores-Seguidos">
                        <button (click)="goTo('/usuario-ajeno')">Ver Perfil</button>
                        <button>Dejar de seguir</button>
                      </div>
                    
                    </div>
                    <hr>
                  </div>
                  }
              }
            </div>
        </div>
      </mat-tab>

      <mat-tab label="Comentarios">
        <div
        [class.bgClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2"
        [class.bgOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
        class="tabContent" #tabContent (scroll)="onScrollComentarios($event)">
          @if(comentariosCargados.length == 0){
            <h2 class="tabVacio">Este usuario no tiene comentarios</h2>
          }@else {
            @for(item of comentariosCargados; track item){
              <div class="comentario">
                <div class="usuarioYPiloto">
                  <div>
                    <img [src]="item.imgPerfilUsuario" alt="Imagen perfil usuario">
                    <h3>{{ item.nombreUsuario }}</h3>
                  </div>
                  <div>
                    <img [src]="item.imgPerfilPiloto" alt="Imagen perfil piloto">
                    <h4>{{ item.nombrePiloto }}</h4>
                  </div>
                </div>
                
                <h4>GP de {{ item.nombrePais }}</h4>
                <p>{{ item.comentario }}</p>
                
                <hr>
              </div>
            }
          }
          </div>
        </mat-tab>
        
        <mat-tab label="Seguidos">
          <div 
          [class.bgClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2"
          [class.bgOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
          class="tabContent" #tabContent (scroll)="onScrollSeguidos($event)">
          @if(seguidosCargados.length == 0){
            <h2 class="tabVacio">Este usuario no tiene seguidos</h2>
          }@else {
            @for(item of seguidosCargados; track item){
              <div class="seguidos">
                <div class="seguido">
                  <img [src]="item.imgPerfil" alt="Imagen perfil usuario">
                  <h4>{{ item.nombreUsuario }}</h4>
                  
                  <div class="numComentarios">
                    <p>Comentarios <br>
                      {{ item.numComentarios }}
                    </p>
                  </div>
  
                  <div class="acciones-Seguidores-Seguidos">
                    <button (click)="goToVerPerfil(item.idUsuario)">Ver Perfil</button>
                    <button (click)="dejarDeSeguirUsuario(item.idUsuario)">Dejar de seguir</button>
                  </div>
                
                </div>
                <hr>
              </div>
            }
          }
        </div>
      </mat-tab>
    </mat-tab-group>
</div>