<div 
    [class.menor550px]="menor550px" 
    class="mainDivFooter"
    [class.claro1]="temaSeleccionado == 0"
    [class.claro2]="temaSeleccionado == 1"
    [class.claro3]="temaSeleccionado == 2"
    [class.oscuro1]="temaSeleccionado == 3"
    [class.oscuro2]="temaSeleccionado == 4">
    <div>
        <p [class.menor550px]="menor550px">José Carlos Pérez González<br>
        I.E.S. Fernando Aguilar Quignon</p>
    </div>
    <h3 [class.menor550px]="menor550px">PortalGP</h3>
    <img [class.menor550px]="menor550px" src="../../../assets/images/LogoPortalGP-SinBG.png" alt="Logo PortalGP">
</div>